@import '../../../styles/colors';

.state {
  width: 100%;
  height: 6em;
  padding: 1em;
  margin: 2em 0;

  display: flex;

  position: relative;

  &:after {
    bottom: -1em;
  }

  &:before {
    top: -1em;
  }
}

.state.mod-border:first-child:before,
.state.mod-border:after {
  content: " ";
  position: absolute;
  display: block;
  width: 80%;
  left: 10%;
  border-top: 1px solid rgba($lightGrey, .4);
}

.state.mod-off {
  opacity: .5;
}

.state.mod-doNotDisturb {
  background: rgba($red, .3);
}

  .state-user {
    flex: 5;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

    .state-user-info {
      flex: 1;
      flex-grow: 1;
    }

      .state-user-info-name {
        font-size: 1.4em;
        margin-bottom: .4em;
      }

      .state-user-info-location {
      }

  .state-activity {
    flex: 1;
    min-width: 8em;
  }

