.activity {
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

  .activity.mod-right {
    justify-content: flex-end;
  }

  .activity-wrapper {
    display: inline-block;
    text-align: center;
  }

    .activity-icon {}

    .activity-text {}

    .activity-text.mod-big {
      font-size: 1.6em;
      font-style: italic;
    }

.activity-icon {
  font-size: 3em;
}

