.location {
  display: inline-block;
}

  .location-elem {
    display: inline-block;
    vertical-align: middle;
  }

  .location-icon {
    font-size: 1.5em;
    margin-left: .2em;
  }

  .location-info {
    font-size: .9em;
    margin-top: .4em;
  }
