@import '../../../styles/colors';

.welcome {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4em;
  font-size: 1.8em;
  line-height: 1.2em;
  font-weight: 300;
}

  .welcome-wrapper {
    flex: 1;
  }

    .welcome-title {
      font-size: 2.8em;
      line-height: 1.2em;
      margin-bottom: .4em;
    }

    .welcome-content {}
    .welcome-content.mod-center {
      text-align: center;
    }

.connect-btn {
  border: none;
  font-size: 1.2em;
  background: $blue;
  border-radius: 4px;
  padding: .3em .4em;
  margin: 1em 0;
  color: $white;
  cursor: pointer;
}
