.info-bar {
  text-align: center;
  padding: .7em 0;
}

  .info-icon {
    vertical-align: middle;
    margin-right: .3em;
  }

  .info-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    font-weight: 300;
    font-style: italic;
  }
