@import '../../../styles/colors';

.me {}

  .me-img-wrapper {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-bottom: -3em;
  }

    .me-img-wrapper > * {
      flex: 1;
      flex-basis: 100%;
      text-align: center;
    }

    .me-image {
      max-width: 7em;
      max-height: 7em;
      white-space: nowrap;
      cursor: pointer;
    }

    .me-location {
      margin-bottom: 1em;
      vertical-align: middle;
    }

  .me-actions {
    display: flex;
    background: $brownGrey;
    min-height: 4em;
    flex-wrap: nowrap;
  }

    .me-action {
      flex: 1;
      text-align: center;
      padding: 1.4em 0;
    }

    .me-action.mod-rotate {
      transform: rotate(30deg);
    }

    .me-action.mod-mood {
      text-align: center;
      padding: 3.8em 0 1.8em;
    }


.action-button {
  background: none;
  color: $lightGrey;
  padding: 1.4em;
  border: none;
  text-transform: uppercase;
  font-size: 1.3em;
  line-height: 1.2em;

  &:hover {
    cursor: pointer;
    color: $white;
  }
}

.action-button.mod-round {
  border: 2px solid $lightGrey;
  border-radius: 10000px;
  width: 6em;
  height: 6em;
  font-size: 1em;

  &:hover {
    color: $grey;
    background: $lightGrey;
  }
}

.mood-button {
  background: none;
  color: $lightGrey;
  border: none;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1.7em;
  margin: 0 .8em;

  &:hover {
    cursor: pointer;
    color: $white;
  }
}

.mood {
  display: inline-block;
  width: 3em;
  height: 3em;
  border-radius: 100000px;
  border: 3px solid $white;
}

.mood-button:hover .mood {
  background: $white;
}

.mood.mod-red {
  border-color: $red
}

.mood-button:hover .mood.mod-red {
  background: $red;
}

.mood.mod-yellow {
  border-color: $yellow
}

.mood-button:hover .mood.mod-yellow {
  background: $yellow;
}

.mood.mod-blue {
  border-color: $blue
}

.mood-button:hover .mood.mod-blue {
  background: $blue;
}

.mood.mod-green {
  border-color: $green
}

.mood-button:hover .mood.mod-green {
  background: $green;
}

