@import '../../../styles/colors';

.notifications {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 200;

  background: rgba(darken($darkGrey, 10), .9);
  display: flex;
  align-items: center;
}

  .notifications-wrapper {
    flex: 1;
  }
