.image {
  display: inline-block;
  padding: .5em;
}

  .image-wrapper {
    width: 5em;
    height: 5em;
    overflow: hidden;
    border-radius: 100em;
    background-size: cover;
    background-position: 50% 50%;
  }

  .image-wrapper.mod-big {
    width: 6em;
    height: 6em;
  }

  .image-wrapper.mod-border {
    border-width: 4px;
    border-style: solid;
  }

