@import 'colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;

  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: $lightGrey;
}

.app {
  background: $turquoise;
  width: 100vw;
  height: 100vh;

  display: flex;
}

  .app-wrapper {
    flex: 1;
    display: flex;
    height: 100vh;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    position: relative;
    overflow: hidden;
  }

    .app-states {
      overflow-x: hidden;
      overflow-y: auto;
      padding-top: 1em;
      position: relative;
      top: 0;
      left: 0;
      padding-bottom: 12em;
      height: 100%;
      z-index: 100;
    }

    .app-me {
      position: relative;
      z-index: 100;
      bottom: 0;
      left: 0;
    }

    .app-welcome {
      height: 100%;
    }

.modal {
  width: 100vw;
  height: 100vh;
  background: $darkGrey;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

  .modal-button {
    border-radius: 4px;
    background-color: $blue;
    padding: .5em;
    border: none;
    cursor: pointer;
  }

