
$turquoise: rgb(0, 108, 126);
$brownGrey: rgb(172, 175, 167);

$darkGrey: #333;
$grey: $brownGrey;
$lightGrey: #EFEFEF;

$white: #fff;

$blue: #2D9CDB;
$red: #EB5757;
$yellow: rgb(255, 190, 50);
$green: rgb(40, 170, 90);

